* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden;
	background-color: #222222;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}
section {
	height: 100vh;
	width: 100vw;
	z-index: 50;
}
canvas {
	pointer-events: none;
}
