@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden;
	background-color: #222222;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}
section {
	height: 100vh;
	width: 100vw;
	/* z-index: 50; */
}
canvas {
	/* pointer-events: none; */
	z-index: 50;
}

.hero-btn {
	color: #fff;
	border: 1px solid rgb(216, 2, 134);

	box-shadow: inset 0 0 0 0 #d80286;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.7s;
}

.hero-btn:hover {
	box-shadow: inset 0 0 0 50px #d80286;
}
